.order {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    margin: 0.3em;
}

.order-main {
    padding: 0.5em;
    margin: 0.2em;
    border-radius: 0.3em;
    background-color: white;
}

.overdue-order {
    outline: 0.2em solid var(--red);
}

.fulfilled-order {
    outline: 0.2em solid var(--green);
    background-color: var(--light-green);
}

.unfulfilled-order {
    outline: 0.2em solid var(--bright-yellow);
}

.order-id {
    color: var(--jamie-grey);
    font-size: 0.5em;
}

.expand-order {
    width: min-content;
    font-size: 0.7em;
    text-decoration: underline;
    cursor: pointer;
    user-select: none;
}

.order-details {
    flex-direction: column;
    background-color: white;
    width: 98%;
    align-self: center;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    padding: 1em;
    padding-top: 0.5em;
    box-sizing: border-box;

    text-wrap-mode: wrap;
    text-wrap-style:balance;
}

.order-products {
    column-count: 2;
    width: 100%;
    background-color: var(--jamie-grey);
    padding: 1em;
    box-sizing: border-box;
    border-radius: 1em;
    margin-top: 1em;
}

.order-values {
    column-count: 2;
    width: 100%;
}

.product-filler {
    flex-grow: 1;
}

.product-checkbox {
    min-width: 1.5em;
    margin: 1em;
    cursor: pointer;
}

.fulfil-order {
    box-sizing: content-box;
    max-height: 2em;
    margin: 1em;
    margin-top: 0;
    padding: 1em;
    border-radius: 1em;
    font-family: "Perfect Penmanship";
}

.fulfil-order .order-throbber {
    width: 2em;
    height: 2em;
    margin: auto auto;
}

#order-fulfil-warning {
    margin-top: 1em;
    font-size: smaller;
}

.delivery-cost {
    display: flex;
    margin-top: 1em;
}

.delivery-cost input {
    width: 4ch;
    font-family: "Perfect Penmanship";
    height: 1em;
    margin-right: 1ch;
}


@media screen and (max-width: 1100px) {
    .order {
        font-size: smaller;
    }

    .order-values {
        column-count: 1;
    }

    .order-products {
        column-count: 1;
        width: 100%;
    }
}