.throbber {
    border: 0.5em solid #f3f3f3; /* Light grey */
    border-top: 0.5em solid var(--purple);
    border-radius: 50%;
    width: 3em;
    height: 3em;
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto auto;
    align-self: center;
}