.budget-tables {
    display: grid;
    grid-template-columns: 3.5fr 1fr;
}

.report-table br {
    display: none;
}

#total-budget-table {
    min-height: 100%;
}

#total-budget-table div:not(div[class*="cm-sourceView"], div[class*="cm-sourceView"] *, div[class*="mdxeditor-toolbar"], div[class*="mdxeditor-diff-source-wrapper"])  {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#total-budget-table .mdxeditor-diff-source-wrapper {
    height: 100%;
    width: 100%;
}

#total-budget-table .cm-sourceView {
    width: 100%;
}

#report #budget-table td {
    border-width: 1px;
}

#budget-table .report-table {
    padding-bottom: 0;
}

/* Select only the cells that aren't part of the editor */
#budget-table td[class*="Cell"]:not([data-tool-cell="true"]) span {
    font-size: medium;
}

@media screen and (max-width: 1100px) {
    #budget-table td[class*="Cell"]:not([data-tool-cell="true"]) span {
        font-size: smaller;
    }
}