.pageSelector {
    display: flex;
    align-self: center;

    font-family: "Perfect Penmanship";
    user-select: none;
    margin: 0.5em;
    border-radius: 1em;
}

.pageDisplay {
    padding: 1em;
    width: 3em;
    text-align: center;
    background-color: white;
}

.pageDecrementer, .pageIncrementer {
    color: white;
    background-color: var(--dark-purple);
    padding: 1em;
    cursor: pointer;
    transition: all 0.2s;
    user-select: none;
}

.pageDecrementer {
    border-bottom-left-radius: 1em;
    border-top-left-radius: 1em;
}

.pageIncrementer {
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}

.pageDecrementer:hover, .pageIncrementer:hover {
    transform: scale(110%);
}