.ticker {
    width: min-content;
    height: 50px;

    display: flex;
    align-self: center;

    font-family: "Perfect Penmanship", sans-serif;
    user-select: none;
    margin: 0.5em;
    border-radius: 1em;
}

.ticker-text {
    width: min-content;
    height: 100%;

    box-sizing: border-box;
    display: flex;
    align-items: center;

    padding-left: 1em;
    padding-right: 1em;

    background-color: white;
}

.ticker-text p {
    height: min-content;
}

.ticker-input {
    font-family: "Perfect Penmanship", sans-serif;
    padding: 0;
    height: 100%;
    border: none;
    font-size: 1em;
    text-align: right;
}

.ticker-input.hidden-max-value {
    text-align: center;
    padding-left: 3ch;
    padding-right: 3ch;
    overflow-x: visible;
}

.ticker-text:has(.hidden-max-value) {
    padding-left: 0;
    padding-right: 0;
}

.ticker-input:focus-visible {
    outline: none;
}

.ticker-decrementer, .ticker-incrementer {
    padding-right: 10px;
    padding-left: 10px;

    width: 30px;
    box-sizing: content-box;

    border: none;
    background-color: var(--dark-purple);
}

.ticker-decrementer span, .ticker-incrementer span {
    position: relative;
    font-size: 30px;
    line-height: 30px;
    font-family: "Perfect Penmanship", sans-serif;


    user-select: none;
    transition-duration: 100ms, 200ms;
    transition-property: font-size, background-color;

    color: white;
}

.ticker-decrementer {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.ticker-incrementer {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.ticker-decrementer:hover, .ticker-incrementer:hover {
    background-color: var(--purple);
}

.ticker-decrementer:hover span, .ticker-incrementer:hover span {
    font-size: 38px;
}

.ticker-slash {
    color: var(--jamie-grey);
    margin-left: 3px;
    margin-right: 3px;
}