.footer {
    padding: 1em;
    display: flex;
    flex-direction: column;
    
    justify-self: flex-end;
    background-color: var(--purple);
    min-height: 2vw;

    align-items: center;
    justify-content: space-around;
    color: white;
}

.footer a {
    color: white;
}

.footer-policy-links {
    font-size: smaller;
    color: var(--jamie-grey);
}