.footer {
    padding: 1em;
    display: flex;
    flex-direction: column;
    
    justify-self: flex-end;
    background-color: var(--purple);
    min-height: 2vw;

    align-items: center;
    justify-content: space-around;
    color: white;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer a:hover {
    color: #ddd;
    text-decoration: underline;
}

.footer-policy-links {
    color: var(--jamie-grey);
    text-align: center;
}

.policy-separator {
    color: var(--jamie-grey);
    margin-left: 0.5ch;
    margin-right: 0.5ch;
}

.footer .additional-links {
    text-align: center;
}

.footer-company-information {
    font-size: 11px;
    color: #ddd;
    text-align: center;
}

.footer-company-information a {
    color: #ddd
}

.footer-company-information a:hover {
    color: #bbb
}