.footer {
    display: flex;
    
    justify-self: flex-end;
    background-color: var(--purple);
    min-height: 2vw;

    align-items: center;
    justify-content: space-around;
    color: white;
}

.footer a {
    color: white;
}