.header {
    z-index: 200;
}

.header-main {
    display: flex;
    background-color: var(--purple);
    align-items: center;
}

.header-lower {
    background-image: linear-gradient(var(--dark-purple), 10%, var(--purple));
    min-height: 1em;
}

.header .logo, .header .basket img {
    height: 3em;
    padding: 5%;
}

.header-spacer{
    width: 100%;
    flex-grow: 1;
}

