.basket {
    display: flex;
    margin-right: 5px;
    min-height: 50px;
    min-width: 50px;
    padding: 8px;
    user-select: none;
    cursor: pointer;
    align-items: center;
    justify-content: center;

    font-size: 50px;
    line-height: 0.5em;
    color: white;
}

.basket img {
    width: 100%;
}

.basket-grow {
    animation: grow 0.25s linear;
}

@keyframes grow {
    0% {transform: scale(100%);}
    50% {transform: scale(115%);}
    100% {transform: scale(100%);} 
}

.basket-item-count {
    display: flex;
    position: absolute;
    background-color: var(--dark-purple);
    border-radius: 100%;
    min-width: 28px;
    min-width: 28px;
    right: 42px;
    top: 40px;

    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.basket-item-count p {
    margin-top: 0.3em;
}

.basket-display {
    display: none;
    flex-direction: column;

    position: fixed;
    width: 40em;
    max-width: 85%;
    height: 70vh;
    background-color: var(--dark-purple);
    right: 10px;
    top: 60px;
    z-index: 100;
    border-radius: 10px;
    padding: 1em;
    box-shadow: 
        1em 3em 1em rgba(0, 0, 0, 0.425);
    color: white;
}

.basket-product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    gap: 10px;
    background-color: white;
    color: black;
    text-decoration: none;
    border-radius: 1em;
    margin: 0.3em;
    
    overflow: hidden;
    width: 98%;
    min-height: 10em;
}

.basket-product-text {
    display: flex;
    flex-direction: column;
}

.basket-prod-header {
    min-width: 29%;
}

.basket-prod-footer {
    display: flex;
    flex-direction: column;
    width: 250%;
    height: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 10px 5px 5px 0;
}

.basket-left-blurrer {
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}

.basketItems {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-bottom: 1em;
}

.checkout {
    display: flex;
    justify-content: center;

    background-color: var(--purple);
    height: 4em;
    border-radius: 1em;
    line-height: 1em;
    
    justify-items: center;
    user-select: none;
    cursor: pointer;
}

.checkout i {
    font-size: 35px;
}

.checkout div {
    display:flex;
    justify-content: space-around;
    align-items: center;
    width: min-content;
    height: 100%;
}

.checkout img {
    height: 80%;
}

.basket {
    display: flex;
    align-items: center;
}

.checkout h1 {
    margin-top: 0.4em;
    margin-right: 0.5em;
}

.basket-product .basket-modifier {
    margin: 0;
    margin-bottom: 0.5em;
}

@media screen and (max-width: 1100px) {
    .basket-product {
        min-height: 100px;
    }

    .basket-product-text {
        font-size: smaller;
    }

    .basket-product-text p {
        margin-top: 0.2em
    }
}