.basket {
    display: flex;
    margin-right: 5px;
    min-height: 50px;
    min-width: 50px;
    padding: 8px;
    user-select: none;
    cursor: pointer;
    align-items: center;
    justify-content: center;

    font-size: 50px;
    line-height: 0.5em;
    color: white;
}

.basket img {
    width: 100%;
}

.basket-grow {
    animation: grow 0.25s linear;
}

@keyframes grow {
    0% {transform: scale(100%);}
    50% {transform: scale(115%);}
    100% {transform: scale(100%);} 
}

.basket-item-count {
    display: flex;
    position: absolute;
    background-color: var(--dark-purple);
    border-radius: 100%;
    min-width: 28px;
    right: 42px;
    top: 40px;

    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.basket-item-count p {
    margin-top: 0.3em;
}

.basket-display-wrapper {
    position: sticky;
    max-width: 1px;
    max-height: 1px;
}

.basket-display {
    display: flex;
    flex-direction: column;

    position: absolute;
    width: 640px;
    max-width: 90vw;
    height: 70vh;
    background-color: var(--dark-purple);
    right: 5px;
    top: 35px;
    z-index: 100;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 
        15px 45px 15px rgba(0, 0, 0, 0.425);
    color: white;
}

.basketItems {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow-y: scroll;
    margin-bottom: 1em;
}

.basketItems > .product {
    margin: 0;
}

@media screen and (max-width: 1100px) {
    .basketItems > .product.horizontal-product .basket-modifier-container {
        height: 35px;
    }
}

.checkout {
    display: flex;
    justify-content: center;

    background-color: var(--purple);
    height: 4em;
    border-radius: 1em;
    line-height: 1em;
    
    justify-items: center;
    user-select: none;
    cursor: pointer;
}

.checkout i {
    font-size: 35px;
}

.checkout div {
    display:flex;
    justify-content: space-around;
    align-items: center;
    width: min-content;
    height: 100%;
}

.checkout img {
    height: 80%;
}

.basket {
    display: flex;
    align-items: center;
}

.checkout h1 {
    margin-top: 0.4em;
    margin-right: 0.5em;
}