.loading-screen .throbber {
    align-self: center;
}

#create-report-form input {
    margin-right: 1ch;
    margin-left: 1ch;
}

#create-report-form {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 5px;
}