#product-table {
    overflow-x: scroll;

    table {
        border-collapse: separate;
        border-spacing: 0 3px;
        margin-left: 10px;
        margin-right: 10px;
    }

    tr {
        border: 1px solid lightgray;
        border-radius: 4px;
    }

    td:first-of-type {
        padding-left: 10px;
        border-bottom-left-radius: 7px;
        border-top-left-radius: 7px;
    }
    td:last-of-type {
        padding-right: 20px;
        border-bottom-right-radius: 7px;
        border-top-right-radius: 7px;
    }

    td {
        text-wrap: nowrap;
        padding: 2px 0 2px 3px;
        margin-bottom: 10px;

        background-color: white;
        text-align: center;
        font-family: "Perfect Penmanship", sans-serif;
        font-size: 13px;


        .editable-prop {
            min-width: 300px;
            height: min-content;

            .editable-prop-input-box {
                border: none;
                p {
                    font-size: 13px;
                }

                .prop-editor-input {
                    background-color: transparent;
                    text-align: center;
                    font-family: "Perfect Penmanship", sans-serif;
                    font-size: 13px;
                }

                /* Don't center align text for certain props */
                #customer_metadata-editor-input, #metadata-editor-input {
                    text-align: left;
                    font-family: monospace;
                    font-size: 14px
                }
            }

            @media screen and (max-width: 1100px)  {
                flex-direction: row;

                .prop-buttons {
                    flex-direction: column;
                }
            }

            .prop-buttons button {
                display: flex;
                padding: 0;
                line-height: 0.7em;
                width: 15px;
                height: 15px;
            }
        }

        #price-editable-prop, #sort_order-editable-prop, #stock-editable-prop, #weight-editable-prop,
        #active-editable-prop, #origin_country_code-editable-prop {
            min-width: auto;
            textarea {
                min-width: 6ch
            }
        }

    }
}