.product {
    display: flex;
    flex-direction: column;

    width: min-content;
    height: min-content;
    min-width: 320px;
    max-width: 20em;
    min-height: 35em;

    background-color: white;
    overflow:hidden;
    border-radius: 1em;
    color: white;
    margin: 1em;
}

.product-image-link {
    display: block;
    width: 100%;
}

.product-name {
    text-decoration: none;
    font-size: large;
}

.product-name:hover {
    text-decoration: underline;
    cursor: pointer;
}

.product .div:hover {
    cursor: pointer;
}

.bg-blurrer {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(4px);
}

.product-text {
    display: flex;
    flex-direction: column;
    margin: 1em;
    color: black;
    flex-grow: 1;
    margin-top: 2em;
}

.product-price {
    margin-top: 1em;
    font-weight: bold;
    font-size: larger;
}

.basket-modifier {
    display: flex;
    align-self: center;

    width: 90%;
    margin: 10px;

    justify-content: center;
    align-items: center;
}

.basket-button:hover {
    transform: scale(105%);
    cursor: pointer;
}

.basket-icon {
    font-size: 2.5em;
    height: 1.1em;
    user-select: none;
}

@media screen and (max-width: 1100px)  {
   .basket-icon {
        font-size: 1.5em;
        height: 1.1em;
        user-select: none;
    } 
}

.prod-footer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.basket-input {
    font-family: "Perfect Penmanship", sans-serif;
    text-align: center;
    font-size: larger;
    width: 200%;
    border: none;
    border-top: 1px solid var(--jamie-grey);
    border-bottom: 1px solid var(--jamie-grey);
    border-radius: 0;
}

.basket-modifier {
    height: 3em;
}

/*
checkout-product css is in checkout.css because at time of writing this file is very long and that one is very short,
either would make sense so I went with that.
*/

@media screen and (max-width: 1100px)  {
    .product {
        flex-direction: row;
        min-height: auto;
        width: 100%;
        max-width: 100%;
        height: min-content;
        margin: 0.5em;
    }

    .product-text {
        font-size: smaller;
        margin: 0.8em;
    }

    .product-name {
        font-size: 1em;
    }

    .product-price {
        margin-top: 0.5em;
    }

    .basket-modifier {
        height: 2em;
    }
    
    .spacer {
        display: flex;
        flex-grow: 1;
    }

    .prod-footer {
        display: flex;
        flex-direction: column;
        width: 160%;
        max-height: 100%;
        justify-content: space-between;
    }
}