.product {
  display: flex;
  flex-direction: column;

  width: 320px;
  height: 530px;

  background-color: white;
  overflow: hidden;
  border-radius: 15px;
  margin: 10px;
}

.product-image-link {
  width: 100%;
}

.product-name {
  text-decoration: none;
  font-size: 18px;
}

.product-name:hover {
  text-decoration: underline;
  cursor: pointer;
}

.product-text {
  display: flex;
  flex-direction: column;
  color: black;
  flex-grow: 1;
  margin: 2em 1em 1em;
}

.basket-button:hover {
  transform: scale(105%);
  cursor: pointer;
}

.prod-footer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.basket-modifier-container {
  height: 50px;
  padding: 10px;
}

/*
checkout-product css is in checkout.css because at time of writing this file is very long and that one is very short,
either would make sense so I went with that.
*/

@mixin horizontal-product {
  flex-direction: row;
  width: 100%;
  min-width: 310px;
  height: min-content;
  box-sizing: border-box;

  .prod-footer {
    display: flex;
    flex-direction: column;
    width: 250%;
    max-height: 100%;
    box-sizing: border-box;
    padding: 7px;
  }

  .product-text {
    font-size: smaller;
    margin: 3px 0 0 0;
  }

  .basket-modifier-container {
    height: 40px;
    padding: 0;
    margin-top: 5px;
  }
}

.product.horizontal-product {
  @include horizontal-product;
}

@media screen and (max-width: 1100px) {
  .product {
    @include horizontal-product;

    .prod-footer {
      width: 160%;
    }

    .product-name {
      font-size: 14px;
    }
  }
}