.order-id {
    color: var(--jamie-grey);
    font-size: 0.5em;
}

.order-products {
    column-count: 2;
    width: 100%;
    background-color: var(--jamie-grey);
    padding: 1em;
    box-sizing: border-box;
    border-radius: 1em;
    margin-top: 1em;
}

.order-products .checkout-product .checkout-product-text {
    margin: 10px;
}

.order-values {
    column-count: 2;
    width: 100%;
}

.product-filler {
    flex-grow: 1;
}

.product-checkbox {
    min-width: 1.5em;
    margin: 1em;
    cursor: pointer;
}

.fulfil-order {
    box-sizing: content-box;
    max-height: 2em;
    margin: 1em;
    margin-top: 0;
    padding: 1em;
    border-radius: 1em;
    font-family: "Perfect Penmanship";
}

.fulfil-order .order-throbber {
    width: 2em;
    height: 2em;
    margin: auto auto;
}

#order-fulfil-warning {
    margin-top: 1em;
    font-size: smaller;
}

.delivery-cost {
    display: flex;
    font-family: "Perfect Penmanship";
    margin-top: 1em;
}

#delivery-cost-input {
    max-width: 10ch;
}

.delivery-cost input {
    font-family: "Perfect Penmanship";
}

@media screen and (max-width: 1100px) {
    .order-values {
        column-count: 1;
    }

    .order-products {
        column-count: 1;
        width: 100%;
    }
}