#storybook-root {
    width: 100%;
}

.product-carousel {
    display: flex;
    box-sizing: border-box;
    overflow-x: auto;
    width: 100%;
}

.product-carousel-inner {
    display: inline-flex;
    min-width: max-content;
    box-sizing: border-box;
    gap: 10px;
    margin: 10px 0 10px 0;
}

.no-image {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    background-color: var(--light-purple);

    span {
        position: relative;
        top: 3px;
        align-self: center;

        font-family: Backso, sans-serif;
        font-size: 200%;
        color: white;
    }
}


@media screen and (max-width: 1100px) {
    .product-carousel-inner {
        gap: 5px;
        margin: 5px 0 5px 0;
    }

    .product-carousel-inner .product {
        width: 100%;
        height: 100%;

        .product-text {
            margin: 15px 5px 0 10px;
        }

        .basket-modifier-container {
            padding: 10px 5px 5px 5px;
            height: 35px;
        }
    }
}