#report {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#report hr {
    height: 3px;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.report-page {
    padding: 10px;
}