.search {
    max-width: 40%;
    display: flex;
    flex-direction: column;
    width: 40ch;
    margin: 0 20px;
    flex-grow: 0.5;
}

.search-bar {
    height: 40px;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 4px;
    overflow: hidden;
    text-align: center;
    border: 1px solid var(--jamie-grey);
}

.search-icon {
    display: flex;
    background-color: #eee;
    color: var(--jamie-grey);

    /* 
    * Despite being centred correctly, the top-heavy magnifying glass
    * looks much better slightly further down, hence the greater top-padding
    */
    padding: 8px 7px 7px;

    height: 100%;
    box-sizing: border-box;
    font-size: 22px;
}

.search-input {
    padding: 12px 16px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-input:focus {
    outline: none;
}

.search-results {
    position: fixed;
    flex-direction: column;

    max-width: 60%;
    min-width: 35%;
    max-height: 80vh;

    top: 60px;
    right: 90px;

    overflow-y: auto;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    background-color: var(--dark-purple);
    border-radius: 10px;
    box-shadow: 
        1em 3em 1em rgba(0, 0, 0, 0.425);
    z-index: 1000;
}

.inner-results {
    gap: 5px;
    margin: 10px;
    overflow-y: auto;
}

.inner-results .product {
    margin: 0 0 5px 0;
}

@media screen and (max-width: 1100px) {
    .search-results {
        min-width: 95%;
        right: 2.5%;
        top: 70px
    }

    .search-input {
        padding-left: 6px;
    }
}