.content-404 {
    align-items: center;
    font-size: 10vw;
    padding: 30px;
}

#h404 {
    height: 2em;
    user-select: none;
}

#spacer-404 {
    font-size: 2rem;
}

.content-404 p {
    font-size: 0.4em;
    color: white;
}

#return-home {
    font-size: 2rem;
}

#return-home a {
    color: black;
    background-color: white;
    padding: 0.5em;
    border-radius: 1em;
}

@media screen and (max-width: 1100px) {
    .content-404 {
        justify-content: center;
        font-size: 15vw;
    }
}