.product-editor {
    margin: 0 10px 0 10px;
    padding: 1em;
    width: calc(100% - 2em);
    background-color: white;
    /* Mostly so that it doesn't disappear while testing/developing */
    min-height: 2em; 
    box-sizing: border-box;
    border-radius: 1.5em;
}

.product-editor h2 {
    color: black;
}

.product-editor-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 8px 10px;
    overflow: hidden;
}

.product-editor-function-button {
    margin-top: 10px;
}

@media screen and (max-width: 1100px)  {
    .product-editor-grid {
        grid-template-columns: 1fr;
    }
}