#product-page {
    gap: 10px;
    padding-bottom: 10px;
    align-items: center;
}

.go-home-button {
    display: flex;
    align-self: flex-start;
    align-items: center;
    height: 2em;
    user-select: none;
    margin-left: 1em;
    margin-top: 0.5em;
    text-decoration: none;

    h1 {
        margin-bottom: -6px;
        margin-left: 5px;
    }

    i {
        height: 1em;
    }

    h1, i {
        font-size: 2em;
        line-height: 1em;
        color: white;
    }
}

.logged-in-disclaimer {
    align-self: flex-start;
    margin-left: 1em;
}

.product-box {
    display: grid; 
    grid-template-columns: 1fr 2fr; 
    grid-template-rows: auto auto auto 1fr auto; 
    gap: 0 20px; 
    grid-template-areas: 
        "image title"
        "image price"
        "image tags"
        "image desc"
        "image ticker";

    margin: 0 10px 0 10px;
    padding: 1em;
    background-color: white;

    /* Mostly so that it doesn't disappear while testing/developing */
    min-height: 25vh;
    height: max-content;
    width: calc(100% - 2em);

    box-sizing: border-box;
    overflow-x: hidden;

    border-radius: 1.5em;

    .image {
        grid-area: image;
    }

    .price-container {
        grid-area: price;
        margin-bottom: 10px;
    }

    .title {
        grid-area: title;
        color: black;
        font-size: 3.5em;
        line-height: 1.2em;
        min-width: 0
    }

    .desc {
        grid-area: desc;
        min-width: 0;
        margin-top: 1em;
        margin-bottom: 1.5em;
        margin-right: 10%;
        font-size: larger;
    }

    p {
        margin-bottom: 0.5em;
    }
}

.prod-ticker {
    grid-area: ticker;
    width: 100%;
    max-width: 100%;
    height: 100%
}

.tags {
    display: flex;
    gap: 0 3px;
    height: min-content;

    .tag {
        background-color: var(--jamie-grey);
        height: min-content;
        padding: 5px;
        border-radius: 10px;
        color: white;
        font-family: "Perfect Penmanship", sans-serif;
        font-size: 0.8em;
        user-select: none;
    }
}

.product-group {
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    gap: 5px;
    max-width: 100%;
    border-radius: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
}

.product-variant {
    display: flex;
    flex-direction: column;
    gap: 5px;
    
    width: 100px;
    box-sizing: content-box;
    height: max-content;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid #ccc;

    background-color: #ccc;
    transition: margin-bottom 0.1s;

    .price {
        align-self: center;
        .price-major {
            font-size: 15px;
        }

        .price-minor {
            font-size: 10px;
        }
        .price-currency {
            display: none;
        }
    }
}

.product-variant:hover {
    background-color: white;
    border: 2px solid black;
}

.selected-product-variant {
    background-color: white;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}


.hover-product-image {
    position: absolute;
    z-index: 2;
}

.additional-product-information {
    display: block;
    box-sizing: border-box;
    margin-top: -10px;
    width: calc(100% - 80px);
    background-image: linear-gradient(var(--jamie-grey) -10px, white 12px);
    align-self: center;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    min-height: min-content;

    h2 {
        color: var(--blue-black);
        margin-bottom: 5px;
    }

    .additional-product-information-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        gap: 5px;
        font-size: 12px;

        > div {
            width: 49%; /** Allow for 2 columns of data */
            display: flex;
            border-bottom: 2px solid var(--light-grey);
            :first-child {
                width: 25%;
                font-weight: 600;
                color: var(--dark-grey);
            }
            span {
                font-family: "Perfect Penmanship", sans-serif;
            }
        }
    }
}


@media screen and (max-width: 1100px)  {
    .product-box {
        display: flex;
        flex-direction: column;
        gap: 0 0;

        margin: 0 10px 0 10px;
        padding: 15px;
        width: calc(100% - 20px);
        border-radius: 10px;

        .title {
            font-size: 3em;
            margin-top: 10px;
        }

        .desc {
            min-height: 150px;
        }
    }

    .product-group {
        justify-content: center;
    }

    .product-variant {
        transition: none;
        padding: 1px;
    }

    .product-variant:hover {
        border: 2px solid black;
    }

    .selected-product-variant {
        margin-bottom: unset;
        border: 2px solid black;
        padding: 0;
    }

    .product-variant .p-small {
        display: none;
    }

    .additional-product-information {
        margin-top: -10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        width: calc(100% - 40px);

        .additional-product-information-container {
            > div {
                width: 100%;

                :first-child {
                    width: 50%;
                }
            }
        }
    }
}