.product-box {
    display: grid; 
    grid-template-columns: 1fr 2fr; 
    grid-template-rows: auto auto auto 1fr auto; 
    gap: 0 20px; 
    grid-template-areas: 
        "image title"
        "image price"
        "image tags"
        "image desc"
        "image ticker";

    margin: 1em;
    padding: 1em;
    width: calc(100% - 2em);
    background-color: white;
    /* Mostly so that it doesn't disappear while testing/developing */
    min-height: 25vh;
    box-sizing: border-box;

    border-radius: 1.5em;
}

.product-box .image { 
    grid-area: image;
}

.product-box .price {
    grid-area: price;
    color: black;
    font-weight: 200;
    font-size: 2em;
    min-width: 0;
}

.product-box .title {
    grid-area: title;
    color: black;
    font-size: 3.5em;
    line-height: 1.2em;
    min-width: 0
}

.product-box .desc { 
    grid-area: desc;
    min-width: 0;
    margin-top: 1em;
    margin-bottom: 1.5em;
    margin-right: 20%;
    font-size: larger;
}

.product-box .desc p {
    margin-bottom: 0.5em;
}

.go-home-button {
    display: flex;
    height: 2em;
    user-select: none;
    margin-left: 1em;
    margin-top: 0.5em;
    text-decoration: none;
}

.go-home-button img {
    height: 2em;
    filter: invert(1);
    vertical-align: "middle";
}

.go-home-button h1 {
    font-size: 2em;
}

.logged-in-disclaimer {
    margin-left: 1em;
}

.prod-page-basket-button {
    grid-area: ticker;
}

.prod-page-modifier {
    grid-area: ticker;
    width: 100%;
    height: 4em;
    margin-left: 0;
    box-sizing: border-box;
}

.prod-page-basket-button:hover {
    transform: scale(102%);
}

.tags {
    display: flex;
    gap: 0 3px;
    height: min-content;
}

.tag {
    background-color: var(--jamie-grey);
    height: min-content;
    padding: 5px;
    border-radius: 10px;
    color: white;
    font-family: "Perfect Penmanship";
    font-size: 0.8em;
    user-select: none;
}

.title .sku {
    font-size: 0.4em;
    font-weight: 600;
    line-height: 0.4em;
    margin-bottom: 1em;
    font-family: 'Courier New', Courier, monospace;
}


@media screen and (max-width: 1100px)  {
    .product-box {
        display: flex;
        flex-direction: column; 
        gap: 0px 0; 

        margin: 10px;
        padding: 15px;
        width: calc(100% - 20px);
        border-radius: 10px;
    }

    .product-editor-grid {
        grid-template-columns: 1fr;
    }

    .product-box .title {
        font-size: 3em;
        margin-top: 10px;
    }

    .product-box .price {
        font-size: 2.5em;
    }

    .prod-page-modifier {
        height: 4em;
        width: 100%;
        margin: 0;
    }
}